* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(151, 151, 218);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(122, 122, 221);
    width: 100%;
    height: auto;
}
 a {
    list-style: none;
    text-decoration: none;
 }

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}
.food-section {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction:row;
}

#food-list {
    background-color: rgb(122, 122, 221);
    border: solid;
    width: 37%;
    text-align: center;
}

#food-list1 {
    background-color: rgb(122, 122, 221);
    width: 100%;
    border: solid;
    text-align: center;
    list-style: none;
}

footer {
    background-color: rgb(122, 122, 221);
    text-align: center;
}
